/*------------- Main Elements -------------*/

* {
    font-family: Calibri, Tahoma, Sans Serif;
    font-size: 100%;
    color: #c6c6c6;
}

body {
    font-family: Calibri, Tahoma, Sans Serif;
    background-color: #000000;
    background-image: url(/static/images/BGPlanet.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

/*------------- Collapsibles -------------*/

.collapsible-header {
    background-color: #14171a;
}

.collapsible-body {
    background-color: #313131;
}

/*------------- Nav Bar -------------*/

.nav-wrapper {
    background-color: #14171a;
}

nav .brand-logo {
    color: #c6c6c6;
    display: inline-block;
    font-size: 200%;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
}

nav ul a {
    color: #c6c6c6;
    display: block;
    padding: 0 15px;
}

/*------------- Buttons -------------*/

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
    font-size: 13px;
    justify-content: center;
}

.mod_header {
    margin-top: 5px;
    margin-left: 20px;
}

/*------------- Page Title -------------*/

.page-title {
    color: black;
    -webkit-text-fill-color: #c6c6c6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}