/*------------- Main Elements -------------*/

* {
    font-family: Calibri, Tahoma, Sans Serif;
    font-size: 100%;
    color: #c6c6c6;
}

body {
    font-family: Calibri, Tahoma, Sans Serif;
    background-color: #000000;
    background-image: url(https://rimworldgame.com//images/BGPlanet2.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
flex: 1 0 auto;
}

.row {
    border-color: #313131;
}

/*------------- Nav Bar -------------*/

.nav-wrapper {
    background-color: #14171a;
}

nav .brand-logo {
    color: black;
    -webkit-text-fill-color: #c6c6c6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    display: absolute;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
    font-size: 200%;
}

nav ul a {
    color: #c6c6c6;
    display: block;
    padding: 0 15px;
}

/*------------- Page Title -------------*/

.page-title {
    color: black;
    -webkit-text-fill-color: #c6c6c6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

/*------------- Collapsibles -------------*/

.collapsible-header {
    background-color: #14171a;
    border-color: #313131;
}

.collapsible-body {
    background-color: #313131;
}

.mod_header {
    margin-top: 5px;
    margin-left: 20px;
}

.subheadings{
    color: #14171a;
    font-weight: bold;
}

/*------------- Buttons -------------*/

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
    font-size: 13px;
    justify-content: center;
}

.btn_gold {
    background-color: #dbd469;
    font-weight: bold;
    color: black;
}

.btn_gold i {
    font-weight: bold;
    color: black;
}

.btn_red{
    background-color: #4b100c;
    font-weight: bold;
    color: black;
}

.btn_red i {
    font-weight: bold;
    color: black;
}

.btn:hover {
    background-color: #c6c6c6;
}

/*------------- Footer -------------*/

footer.page-footer {
    background-color: #14171a;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.page-footer p {
    font-family: Calibri, Tahoma, Sans Serif;
    font-size: 100%;
    color: #c6c6c6;
    padding: 0, 0;
    text-decoration: none;
}

.page-footer p a {
    color: #c6c6c6;
    text-decoration: none;
}