/*------------- Main Elements -------------*/

* {
    font-family: Calibri, Tahoma, "Sans Serif";
    font-size: 100%;
    color: #c6c6c6;
}

body {
    font-family: Calibri, Tahoma, "Sans Serif";
    background-color: #000000;
    background-image: url(https://rimworldgame.com//images/BGPlanet2.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
flex: 1 0 auto;
}

.row {
    border-color: #313131;
}


/*------------- Nav Bar -------------*/

.nav-wrapper {
    background-color: #14171a;
}

nav img {
    width: 1em;
    height: 1em;
    margin-right: 5px;
}

nav .brand-logo {
    color: black;
    -webkit-text-fill-color: #c6c6c6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    display: inline-block;
    font-size: 1.75em;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
}

nav ul a {
    color: #c6c6c6;
    display: block;
    padding: 0 15px;
}

/*------------- Page Title -------------*/

.page-title {
    color: black;
    -webkit-text-fill-color: #c6c6c6;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    
}

/*------------- Collapsibles -------------*/

.collapsible-header {
    background-color: #14171a;
    border-color: #313131;
}

.collapsible-body {
    background-color: #313131;
}

.mod_header {
    margin-top: 5px;
    margin-left: 20px;
}

.subheadings{
    color: #14171a;
    font-weight: bold;
}

ul.collapsible{
    border-color: #c6c6c6;
}
/*------------- Expander Icon -------------*/

div.collapsible-header.active #expander-icon {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

/*------------- Input Fields -------------*/

.input-dark {
    background-color: #14171a;
    border-color: #313131;
    color: #c6c6c6;
    padding: 10px;
}

div.row.input-dark {
    margin-left: 0px;
    margin-right: 0px;
}

.select-dropdown {
    background-color: #313131;
    border-color: #14171a;
    color: #c6c6c6;
}

.select-wrapper ul li span {
     color: #c6c6c6;
}

.active {
    color: #c6c6c6 !important;
}

.active::after {
    color: #c6c6c6 !important;
    border-bottom: 5px solid #c6c6c6 !important;
}

/*------------- Taken From Stack Overflow -------------*/

/* label color */
.input-field label {
    color: #c6c6c6;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #c6c6c6  !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #c6c6c6 !important;
    box-shadow: 0 1px 0 0 #c6c6c6  !important;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #c6c6c6  !important;
    box-shadow: 0 1px 0 0 #c6c6c6  !important;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #c6c6c6;
    box-shadow: 0 1px 0 0 #c6c6c6;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #c6c6c6;
}

/*------------- Adapted to also apply to <textarea> -------------*/

/* label underline focus color */
.input-field textarea:focus {
    border-bottom: 1px solid #c6c6c6 !important;
    box-shadow: 0 1px 0 0 #c6c6c6  !important;
}
/* valid color */
.input-field textarea.valid {
    border-bottom: 1px solid #c6c6c6  !important;
    box-shadow: 0 1px 0 0 #c6c6c6  !important;
}
/* invalid color */
.input-field textarea.invalid {
    border-bottom: 1px solid #c6c6c6;
    box-shadow: 0 1px 0 0 #c6c6c6;
}

/*------------- About Page -------------*/

.about-section {
    background-color: #14171a;
    border-color: #313131;
    font-family: Calibri, Tahoma, "Sans Serif";
    font-size: 100%;
    color: #c6c6c6;
    padding: 20px;
}

.about-image {
    height: 100%;
    width: 100%;
}

/*------------- Buttons -------------*/

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
    font-size: 13px;
    justify-content: center;
}

.btn_gold {
    background-color: #dbd469;
    font-weight: bold;
    color: black;
}

.btn_gold i {
    font-weight: bold;
    color: black;
}

.btn_red{
    background-color: #4b100c;
    font-weight: bold;
    color: black;
}

.btn_red i {
    font-weight: bold;
    color: black;
}

.btn:hover {
    background-color: #c6c6c6;
}

.btn_red:hover {
    background-color: #c6c6c6;
    color: black;
}

/*------------- Footer -------------*/

footer.page-footer {
    background-color: #14171a;
    margin-top: 20px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.page-footer p {
    font-family: Calibri, Tahoma, "Sans Serif";
    font-size: 100%;
    color: #c6c6c6;
    padding: 0 0;
    text-decoration: none;
}

.page-footer p a {
    color: #c6c6c6;
    text-decoration: none;
}

