<!DOCTYPE html>
{% extends 'base.html'%}{% block content %}

<div class="row">

	<h3 class="page-title">About</h3>

	<div class="row about-section">
		<p>
			Rimworld Mod Locker aims to bring all the most popular mods for Rimworld into one catelogue that can be
			browsed by mod category,
			a browsing option severly lacking from Steam. Users can also create an account and be able to add mods to
			the different categories.
		</p>
		<p>
			RimWorld is an indie top-down sci-fi colony sim driven by an intelligent AI storyteller. Inspired by Dwarf
			Fortress, Firefly, and Dune.
			It was created by Montreal-based developer Ludeon Studios. You can buy the game <a target="_blank"
				href="https://store.steampowered.com/app/294100/RimWorld/" rel="noopener">here</a>.
		</p>
		<p>
			This is a fan made site and not affliated with Ludeon Studios.
			All copyrights are their own.
		</p>
        <div>
            <img class="about-image" src="../static/images/rimworldtown.jpg" alt="Rimworld Town">
            <p>"New Carthage", uploaded by SpectroDE12 to Reddit.</p>
        </div>
    </div>
</div>



{% endblock %}