<!DOCTYPE html>
{% extends 'base.html'%}{% block content %}

<div class="row">

    <h3 class="page-title">Add Category</h3>

    <div class="row input-dark">
        <form action="{{ url_for('insert_category') }}" method="POST" class="col s12">
            <div class="row">

                <!-- Category Name -->
                <div class="input-field col s12">
                    <i class="material-icons prefix">poll</i>
                    <input id="category_name" name="category_name" type="text" class="validate">
                    <label for="category_name">Category Name</label>
                </div>
            </div>
            <div class="row">

                <!-- Add Category Button -->
                <button class="btn waves-effect waves-light btn_gold" type="submit" name="action">Add Category
                    <i class="material-icons right">playlist_add</i>
                </button>

                <!-- Cancel Button -->
                <a href="{{url_for('get_categories')}}" class="waves-effect waves-light btn btn_red"><i class="material-icons right">cancel</i>Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}