{% extends 'base.html'%}{% block content %}

<ul class="collapsible">
    {% for mod in mods %}
    <li>
        <div class="collapsible-header">
			<div class="col s3">
                    <i class="material-icons">expand_more</i>
                    <a class="waves-effect waves-light btn btn_small">Done</a>
                    <a class="waves-effect waves-light btn btn_small blue">Edit</a>
            </div>
			<div class="mod_header col s9">
				<strong>{{mod.mod_name}}</strong>
            </div>
        </div>
        <div class="collapsible-body">
            <span>
                {{mod.category_name}}
            </span>
        </div>
        <div class="collapsible-body">
            <span>
                {{mod.mod_description}}
            </span>
        </div>
        <div class="collapsible-body">
            <span>
                {{mod.mod_link}}
            </span>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}