<!DOCTYPE html>
{% extends 'base.html'%}{% block content %}

<div class="row">

	<h3 class="page-title">{{ page_title }}</h3>
	<div class="container">
		<div class="row input-dark">
			<div>
				<form method="POST" action="{{ url_for('register') }}">
					<div class="form-group">
						<label for="exampleInputEmail1">Username</label>
						<input type="text" class="form-control" name="username">
                    </div>
						<div class="form-group">
							<label for="exampleInputPassword1">Password</label>
							<input type="password" class="form-control" name="pass">
                    </div>
							<button type="submit" class="btn btn_gold">Register</button>
				</form>
				<br>
				<div>
					Did you take a wrong turn? <a href="{{ url_for('index') }}">Retun to login here</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}